* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1564px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
}

.services-tabs {
    margin-bottom: 48px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.services-tabs__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 16px;
}

.services-tabs__link {
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    color: #333;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.services-tabs__link:focus,
.services-tabs__link:hover,
.services-tabs__link:active {
    color: #fff;
    background-color: #0859A3;
    border-color: #0859A3;
    outline: none;
}

@media (max-width: 1024px) {
    .services-tabs {
        margin-bottom: 33px;
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 576px) {
    .services-tabs {
        margin-bottom: 20px;
    }

    .services-tabs__list {
        row-gap: 10px;
    }

    .services-tabs__link {
        padding: 12px 16px;
        font-size: 12px;
    }
}

#services-description {
    margin-bottom: 58px;
}

.services-descr {
    display: flex;
    gap: 127px;
    font-family: "Montserrat";
    font-style: normal;
    line-height: normal;
    color: #333;
}

.services-description__call {
    width: 477px;
    flex-shrink: 0;
}

.services-description__title {
    margin: 0;
    margin-bottom: 38px;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    font-family: "Montserrat";
    color: #333;
}

.services-description__paragraph {
    margin: 0;
    margin-bottom: 34px;
    max-width: 384px;
    font-size: 20px;
    font-weight: 400;
}

.services-description__item {
    padding: 15px 15px 15px 0;
    border-bottom: 1px dashed #0859A3;
}

.services-description__item:first-child {
    border-top: 1px dashed #0859A3;
}

.services-description__link {
    display: flex;
    gap: 18px;
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease-in-out;
}

.services-description__link_flex {
    display: flex;
    flex-direction: column;
    font-size: 21.637px;
    font-weight: 500;
}

.services-description__link_bold {
    font-size: 24.341px;
    font-weight: 700;
}

.services-description__link:focus,
.services-description__link:hover,
.services-description__link:active {
    color: #0859A3;
    outline: none;
}

.services-description__button {
    max-width: 330px;
    padding: 20px 28px;
    border-radius: 6px;
    border: 2px solid #0859A3;
    background: #FFF;
    color: #0859A3;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 142%;
    font-family: "Montserrat";
    text-align: center;
}

.services-description__list {
    margin-bottom: 34px;
}

.services-description__info {
    color: #333;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 142%;
}

.services-description__info_top {
    margin-bottom: 27px;
}

.services-description__title2 {
    margin: 0;
    margin-bottom: 27px;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 124%;
    color: #000;
}

.services-description__mb25 {
    margin-bottom: 25px;
}

.services-description__img img {
    max-width: 100%;
    object-fit: contain;
    max-height: 138px;
}

.services-description__span {
    display: inline-block;
}

@media (max-width: 1280px) {
    .services-descr {
        gap: 20px;
    }
}

@media (max-width: 1024px) {
    .services-descr {
        flex-direction: column;
        align-items: center;
        gap: 49px;
    }

    .services-description__img {
        text-align: center;
    }
}

@media (max-width: 576px) {
    #services-description {
        margin-bottom: 25px;
    }

    .services-descr {
        gap: 22px;
    }

    .services-description__call {
        width: 100%;
        flex-shrink: 1;
    }

    .services-description__title {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .services-description__paragraph {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .services-description__link_flex {
        font-size: 16px;
    }

    .services-description__list {
        margin-bottom: 22px;
    }

    .services-description__info_top {
        margin-bottom: 22px;
    }

    .services-description__title2 {
        margin-bottom: 22px;
        font-size: 24px;
        font-weight: 700;
    }
}

#sales {
    margin-bottom: 72px;
}

.sales__swiper {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.sales__wrapper {
    display: flex;
    min-height: 390px;
    border-radius: 20px;
    background: #F4F4F4;
    overflow: hidden;
}

.sales__logo {
    position: absolute;
    top: 44px;
    right: 40%;
    width: 148px;
    height: 95px;
}

.sales__logo img {
    width: 100%;
    object-fit: contain;
}

.sales__flex {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    min-width: 100%;
}

.sales__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sales__picture {
    max-width: 46%;
}

.sales__text {
    max-width: 800px;
    padding: 66px 0 61px 96px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #333;
}

.sales__period {
    display: flex;
    gap: 7px;
    align-items: center;
    margin-bottom: 22px;
    font-size: 16px;
}

.sales__procedure {
    position: relative;
    padding-left: 57px;
    margin-bottom: 22px;
    font-size: 21px;
}

.sales__procedure::before {
    position: absolute;
    content: "";
    left: 0;
    width: 40px;
    height: 4px;
    top: 40%;
    background: #2E7FFA;
}

.sales__title {
    margin: 0;
    margin-bottom: 17px;
    font-size: 30px;
}

.sales__direction {
    margin-bottom: 29px;
    font-size: 16px;
    font-weight: 400;
}

.sales__btn {
    padding: 20px 30px;
    border-radius: 6px;
    background: #0859A3;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.sales__buttons {
    display: flex;
    gap: 34px;
    align-items: center;
}

.sales__link {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #0859A3;
}

.sales__link svg {
    transform: translateX(-10px);
    transition: transform 0.2s ease-in-out;
}

.sales__link:hover svg {
    transform: translateX(0);
}

.sales__swiper-btns {
    position: absolute;
    z-index: 5;
    bottom: 54px;
    right: 96px;
    width: 198px;
    height: 73px;
    border-radius: 36.679px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sales__swiper-prev,
.sales__swiper-next {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #7d7d7d;
    background-color: transparent;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.sales__swiper-count {
    padding: 0 14px;
    font-family: "Montserrat";
    font-size: 15.256px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #7D7D7D;
}

.sales__swiper-count.swiper-pagination {
    position: static;
    width: auto;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: '';
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
    margin-top: 0;
}

.sales__swiper-next svg path,
.sales__swiper-prev svg path {
    transition: fill 0.2s ease-in-out;
}

.sales__swiper-next:focus,
.sales__swiper-prev:focus,
.sales__swiper-next:hover,
.sales__swiper-prev:hover {
    background: #7d7d7d;
}

.sales__swiper-next:hover svg path,
.sales__swiper-prev:hover svg path,
.sales__swiper-next:focus svg path,
.sales__swiper-prev:focus svg path {
    fill: #fff;
}

@media (max-width: 1660px) {
    .sales__picture img {
        width: auto;
    }
}

@media (max-width: 1280px) {
    #sales {
        margin-bottom: 54px;
    }

    .sales__text {
        padding: 40px 0 40px 48px;
    }
}

@media (max-width: 1200px) {
    .sales__flex {
        flex-direction: column-reverse;
    }

    .sales__picture {
        max-width: 100%;
    }

    .sales__picture img {
        width: 100%;
        height: 477px;
    }

    .sales__logo {
        top: 44px;
        right: inherit;
        left: 32px;
        width: 181px;
        height: 115px;
    }

    .sales__text {
        max-width: 546px;
        padding: 40px 10px 40px 29px;
    }

    .sales__swiper-btns {
        bottom: 33px;
        right: 29px;
    }
}

@media (max-width: 767.98px) {
    #sales {
        margin-bottom: 43px;
    }

    .sales__buttons {
        flex-direction: column;
        align-items: start;
        gap: 21px;
    }
}

@media (max-width: 576px) {
    .sales__picture img {
        height: 216px;
    }

    .sales__logo {
        width: 81px;
        height: 51px;
        top: 14px;
        left: 14px;
    }

    .sales__text {
        max-width: 100%;
        padding: 20px 16px;
    }

    .sales__period {
        margin-bottom: 12px;
        font-size: 14px;
    }

    .sales__procedure {
        margin-bottom: 17px;
        font-size: 14px;
    }

    .sales__title {
        margin-bottom: 14px;
        font-size: 20px;
    }

    .sales__direction {
        margin-bottom: 17px;
    }

    .sales__swiper-btns {
        width: 120px;
        height: 44px;
        bottom: 21px;
        right: 20px;
    }

    .sales__swiper-prev,
    .sales__swiper-next {
        width: 33px;
        height: 33px;
        border: 1px solid #7d7d7d;
    }

    .sales__swiper-count {
        padding: 0 5px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .sales__text {
        padding: 27px 16px 35px;
    }
}

#services-benefits {
    margin-bottom: 68px;
    color: #333;
    font-family: "Montserrat";
    font-style: normal;
    line-height: normal;
}

.services-benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 63px;
}

.services-benefits__item {
    width: calc((100% - 3 * 63px) / 4);
    display: flex;
    flex-direction: column;
}

.services-benefits__item_title {
    position: relative;
    margin: 0;
    margin-bottom: auto;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
}

.services-benefits__item_title::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: #2E7FFA;
}

.services-benefits__paragraph {
    margin: 0;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 1280px) {
    #services-benefits {
        margin-bottom: 47px;
    }

    .services-benefits__list {
        gap: 20px;
    }

    .services-benefits__item {
        width: calc((100% - 3 * 20px) / 4);
    }
}

@media (max-width: 1024px) {
    #services-benefits {
        margin-bottom: 25px;
    }

    .services-benefits__list {
        column-gap: 20px;
        row-gap: 50px;
    }

    .services-benefits__item {
        width: calc((100% - 20px) / 2);
    }
}

@media (max-width: 576px) {
    #services-benefits {
        margin-bottom: 45px;
    }

    .services-benefits__list {
        gap: 17px;
    }

    .services-benefits__item {
        width: 100%;
    }

    .services-benefits__item_title {
        font-size: 18px;
    }
}

#services-video {
    margin-bottom: 139px;
    color: #333;
    font-family: "Montserrat";
    font-style: normal;
    line-height: normal;
}

.services-video__flex {
    display: flex;
    gap: 70px;
    align-items: center;
}

.services-video__text {
    font-size: 18px;
    font-weight: 400;
}

.services-video__video {
    position: relative;
    min-width: 734px;
    max-height: 400px;
    border-radius: 18px;
    overflow: hidden;
}

.services-video__video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-video__control {
    position: absolute;
    width: 96px;
    height: 54px;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
}

.services-video__video:focus .services-video__control,
.services-video__video:hover .services-video__control {
    scale: 1.2;
}

.services-video__video:focus {
    outline: none;
}

@media (max-width: 1280px) {
    #services-video {
        margin-bottom: 47px;
    }

    .services-video__flex {
        gap: 20px;
    }

    .services-video__video {
        width: 590px;
        flex-basis: 590px;
        min-width: 0;
        max-height: 324px;
    }

    .services-video__text_title {
        margin-bottom: 25px;
    }

    .services-video__text {
        max-width: 594px;
    }

    .services-video__control,
    .services-video__control svg {
        width: 77px;
        height: 43px;
    }
}

@media (max-width: 1200px) {
    .services-video__flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .services-video__text {
        max-width: 100%;
    }
}

@media (max-width: 767.98px) {
    .services-video__video {
        width: 335px;
        flex-basis: 335px;
        max-height: 182px;
    }
}

@media (max-width: 576px) {
    .services-video__text_title {
        margin-bottom: 13px;
    }

    .services-video__text {
        font-size: 16px;
    }
}

#services-stages {
    margin-bottom: 89px;
    font-style: normal;
    line-height: normal;
    font-family: "Montserrat";
    color: #fff;
}

.services-stages__title {
    margin-bottom: 15px;
    color: #0859A3;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.services-stages__center {
    margin-bottom: 57px;
    text-align: center;
}

.services-stages__tabs_content {
    display: none;
    min-height: 555px;
    padding: 71px 68px 84px 96px;
    border-radius: 0px 20px 20px 20px;
    background: #0859A3;
}

.services-stages__tabs-list {
    display: flex;
    flex-wrap: wrap;
}

.services-stages__tabs_item {
    padding: 25px 32px;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000;
    background: #fff;
    border: 1px solid #0859A3;
    cursor: pointer;
}

.services-stages__tabs_item:first-child {
    border-radius: 26px 0px 0px 0px;
}

.services-stages__content_active {
    display: block;
}

.services-stages__active {
    background: #0859A3;
    color: #fff;
}

.services-stages__tabs_text {
    font-weight: 400;
    line-height: 142%;
    font-size: 18px;
    flex-basis: 50%;
}

.services-stages__tabs_flex {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.services-stages__tabs_img {
    max-width: 50%;
    max-height: 400px;
    border-radius: 18px;
    overflow: hidden;
    flex-basis: 50%;
}

.services-stages__tabs_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-stages__tabs_title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

@media (max-width: 1660px) {
    .services-stages__tabs_content {
        min-height: 0;
    }
}

@media (max-width: 1280px) {
    .services-stages__center {
        margin-bottom: 50px;
    }

    .services-stages__tabs_content {
        padding: 71px 68px 76px 82px;
    }

    .services-stages__tabs_flex {
        gap: 40px;
    }
}

@media (max-width: 1024px) {
    #services-stages {
        margin-bottom: 67px;
    }

    .services-stages__title {
        margin-bottom: 12px;
        font-size: 24px;
    }

    .services-stages__center {
        margin-bottom: 24px;
        font-size: 32px;
    }

    .services-stages__tabs_item {
        padding: 14px;
        font-size: 16px;
        font-weight: 500;
    }

    .services-stages__tabs_content {
        padding: 45px 35px 60px 35px;
    }

    .services-stages__tabs_title {
        font-size: 20px;
    }

    .services-stages__tabs_text {
        font-size: 14px;
    }

    .services-stages__tabs_flex {
        gap: 20px;
        align-items: flex-start;
    }
}

@media (max-width: 767.98px) {
    .services-stages__tabs_flex {
        flex-direction: column-reverse;
    }

    .services-stages__tabs_img {
        max-width: 335px;
        max-height: 210px;
        flex-basis: 100%;
    }

    .services-stages__tabs_text {
        flex-basis: 100%;
    }
}

@media (max-width: 576px) {
    #services-stages {
        margin-bottom: 40px;
    }

    .services-stages__tabs_content {
        padding: 22px 20px 32px 20px;
    }

    .services-stages__tabs-list {
        display: flex;
        flex-wrap: nowrap;
        overflow-y: auto;
    }

    .services-stages__tabs {
        margin-left: -24px;
        margin-right: -24px;
    }

    .services-stages__center {
        margin-bottom: 20px;
        font-size: 24px;
    }
}

#services-reviews {
    margin-bottom: 92px;
    font-style: normal;
    line-height: normal;
    font-family: "Montserrat";
    color: #333;
}

.services-reviews__top {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    gap: 49px;
}

.services-reviews__people {
    display: flex;
    gap: 23px;
    align-items: center;
}

.services-reviews__blue {
    color: #0859A3;
    font-weight: 700;
    font-size: 40px;
    text-align: right;
}

.services-reviews__count {
    font-size: 73px;
    line-height: 93.253%;
}

.services-reviews__normal {
    font-size: 20px;
    font-weight: 500;
    color: #3e3e3e;
}

.services-reviews__bold {
    font-weight: 800;
}

.services-reviews__link {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #0859A3;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.services-reviews__link::before {
    position: absolute;
    content: "";
    background-color: currentColor;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -11px;
    transition: background-color 0.2s ease-in-out;
}

.services-description__title_nomargin {
    margin-bottom: 0;
    max-width: 700px;
}

.services-reviews__link:focus,
.services-reviews__link:hover,
.services-reviews__link:active {
    outline: none;
    color: #333
}

.services-reviews__inner {
    display: none;
    -webkit-appearance: none;
    justify-content: center;
    align-items: center;
    gap: 67px;
    padding: 44px 53px 54px 50px;
    border-radius: 13px;
    background: #FFF;
    box-shadow: 7px 13px 31.7px 0px rgba(0, 0, 0, 0.15);
}

.services-reviews__inner_active {
    display: flex;
}

.services-reviews__inner_img {
    position: relative;
    max-width: 50%;
    max-height: 462px;
    border-radius: 18px;
    overflow: hidden;
    flex-basis: 50%;
}

.services-reviews__inner_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.services-reviews__inner_img:focus .services-video__control,
.services-reviews__inner_img:hover .services-video__control {
    scale: 1.2;
}

.services-reviews__inner_img:focus {
    outline: none;
}

.services-reviews__inner_text {
    flex-basis: 50%;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142%;
    font-family: "Montserrat";
}

.services-reviews__inner_title {
    margin: 0;
    margin-bottom: 17px;
    font-size: 32px;
    font-weight: 600;
    color: #333;
}

.services-reviews__inner_review {
    margin: 0;
    margin-bottom: 26px;
    position: relative;
    color: #333;
    padding-left: 76px;
}

.services-reviews__inner_review::before {
    position: absolute;
    content: url(./img/format-quote-open.svg);
    left: 0;
    width: 54px;
    height: 54px;
}

.services-reviews__inner_btns {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    gap: 37px;
}

.services-reviews__swiper-img {
    max-height: 177px;
    border-radius: 17px;
    border: 2px solid transparent;
    overflow: hidden;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
}

.services-reviews__active {
    border-color: #0859A3;
}

.services-reviews__swiper-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-reviews__swiper {
    margin-bottom: 32px;
}

.services-reviews__relative {
    position: relative;
}

.services-reviews__swiper-btns {
    position: absolute;
    width: 100%;
    height: 100%;
}

.services-reviews__btn-prev,
.services-reviews__btn-next {
    padding: 0;
    width: 42px;
    height: 84px;
    background: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.services-reviews__btn-prev {
    top: -165px;
    left: -80px;
}

.services-reviews__btn-next {
    top: -165px;
    right: -80px;
}

.services-reviews__btn-prev:focus,
.services-reviews__btn-next:focus {
    outline: none;
    transform: scale(1.2);
}

.services-reviews__btn-prev:hover,
.services-reviews__btn-next:hover {
    transform: scale(1.2);
}

@media (max-width: 1700px) {
    .services-reviews__btn-prev {
        left: -26px;
        top: -145px;
        width: 28px;
        height: 56px;
    }

    .services-reviews__btn-next {
        right: -26px;
        top: -145px;
        width: 28px;
        height: 56px;
    }
}

@media (max-width: 1280px) {
    #services-reviews {
        margin-bottom: 71px;
    }

    .services-description__title_nomargin {
        font-size: 28px;
    }

    .services-reviews__people {
        gap: 15px;
    }

    .services-reviews__blue {
        font-size: 24px;
    }

    .services-reviews__count {
        font-size: 44px;
    }

    .services-reviews__normal {
        font-size: 16px;
    }

    .services-reviews__bold {
        font-size: 20px;
    }

    .services-reviews__swiper {
        margin-bottom: 28px;
    }

    .services-reviews__inner {
        gap: 40px;
    }

    .services-reviews__inner_review {
        margin-bottom: 20px;
    }

    .services-reviews__inner_btns {
        gap: 23px;
    }

    .services-reviews__inner_img {
        max-height: 387px;
    }

    .services-reviews__inner-tell {
        flex-basis: 90%;
    }

    .services-reviews__btn-prev,
    .services-reviews__btn-next {
        top: -130px;
    }
}

@media (max-width: 1200px) {

    .services-reviews__btn-prev,
    .services-reviews__btn-next {
        top: -113px;
    }

    .services-reviews__inner_btns {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 1024px) {
    #services-reviews {
        margin-bottom: 55px;
    }

    .services-reviews__top {
        flex-wrap: wrap;
        gap: 35px;
    }

    .services-description__title_nomargin {
        width: 100%;
        max-width: 491px;
    }

    .services-reviews__people {
        margin-right: auto;
        width: 50%;
    }

    .services-reviews__normal {
        max-width: 227px;
    }

    .services-reviews__top {
        margin-bottom: 26px;
    }

    .services-reviews__btn-prev,
    .services-reviews__btn-next {
        display: none;
    }

    .services-reviews__swiper-img {
        width: 185px;
        height: 143px;
    }

    .services-reviews__inner {
        gap: 20px;
        padding: 15px 15px 30px;
        align-items: flex-start;
    }

    .services-reviews__inner_title {
        margin-bottom: 5px;
    }

    .services-reviews__inner_review {
        padding-left: 0;
        padding-top: 60px;
        font-size: 16px;
    }

    .services-reviews__inner_review::before {
        top: 0;
    }

    .services-reviews__inner_btns {
        gap: 17px;
        margin-bottom: 5px;
    }

    .services-reviews__swiper {
        margin-right: -32px;
    }
}

@media (max-width: 768px) {
    .services-reviews__swiper {
        margin-right: -24px;
    }

    .services-reviews__inner {
        padding: 0;
        box-shadow: none;
    }
}

@media (max-width: 576px) {
    #services-reviews {
        margin-bottom: 35px;
    }

    .services-description__title_nomargin {
        max-width: none;
    }

    .services-reviews__top {
        gap: 20px;
    }

    .services-reviews__people {
        margin-right: 0;
        width: 100%;
        gap: 26px;
    }

    .services-reviews__swiper-img {
        width: 118px;
        height: 92px;
    }

    .services-reviews__inner {
        flex-direction: column;
    }

    .services-reviews__inner_img {
        max-width: 100%;
        flex-basis: 100%;
    }

    .services-reviews__inner_title {
        font-size: 24px;
    }

    .services-reviews__inner_review::before {
        width: 34px;
        height: 34px;
    }

    .services-reviews__inner_review {
        padding-left: 51px;
        padding-top: 0;
        font-size: 14px;
    }
}

#services-retings {
    margin-bottom: 87px;
    font-style: normal;
    line-height: normal;
    font-family: "Montserrat";
    color: #333;
}

.services-retings__flex {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.services-retings__left {
    display: flex;
    flex-direction: column;
    gap: 11px;
    max-width: 351px;
}

.services-retings__right {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    flex-grow: 1;
}

.services-retings__item {
    width: calc((100% - 5 * 11px) / 6);
    min-height: 185px;
    padding: 30px 15px;
    border-radius: 10px;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.services-retings__left .services-reviews__link {
    width: fit-content;
}

.services-retings__item img {
    margin-bottom: auto;
    object-fit: contain;
    width: 100%;
    max-height: 56px;
}

.services-retings__item span {
    font-weight: 500;
    line-height: 108.5%;
    font-size: 16px;
}

.services-retings__item .services-retings__bold {
    font-size: 21px;
    font-weight: 700;
    line-height: 108.5%;
    color: #000;
}

.services-retings__item span svg {
    width: 20px;
    height: 20px;
}

@media (max-width: 1660px) {
    .services-retings__flex {
        flex-direction: column;
        align-items: normal;
        gap: 23px;
    }

    .services-retings__left {
        flex-direction: row;
        gap: 0;
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 1280px) {
    #services-retings {
        margin-bottom: 70px;
    }

    .services-retings__right {
        gap: 20px;
    }

    .services-retings__item {
        width: calc((100% - 5 * 20px) / 6);
    }
}

@media (max-width: 1200px) {
    .services-retings__right {
        justify-content: center;
        padding-left: 60px;
        padding-right: 60px;
    }

    .services-retings__item {
        width: calc((100% - 2 * 20px) / 3);
    }
}

@media (max-width: 768px) {
    .services-retings__flex {
        gap: 17px;
        position: relative;
    }

    .services-retings__right {
        padding-bottom: 45px;
    }

    .services-retings__link {
        display: block;
        position: absolute;
        bottom: 0;
    }

    .services-retings__left {
        justify-content: center;
    }

    .services-retings__title {
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    .services-retings__right {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 576px) {
    #services-retings {
        margin-bottom: 54px;
    }

    .services-retings__right {
        gap: 18px;
    }

    .services-retings__item {
        width: calc((100% - 18px) / 2);
    }
}

@media (max-width: 480px) {
    .services-retings__item span {
        font-size: 14px;
    }

    .services-retings__item .services-retings__bold {
        font-size: 19px;
    }

    .services-retings__item span svg {
        width: 16px;
        height: 16px;
    }

    .services-retings__item {
        min-height: 0;
        padding: 25px 10px;
    }
}

#services-prices {
    padding-top: 117px;
    padding-bottom: 132px;
    background: #F7F7F7;
    font-family: "Montserrat";
    font-style: normal;
    line-height: normal;
    color: #333;
    text-align: center;
}

.services-prices__title {
    margin-bottom: 19px;
}

.services-prices__paragraph {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
}

.services-prices__paragraph_blue {
    margin-bottom: 34px;
    color: #0859A3;
}

.services-prices__list {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    margin-bottom: 42px;
    max-width: 1157px;
    text-align: left;
}

.services-prices__item {
    position: relative;
    border: 1px solid #e5e5e5;
    margin-bottom: -1px;
    padding: 26px 86px 20px 30px;
    background: #fff;
    cursor: pointer;
    transition: border-color ease .2s, box-shadow ease .2s;
}

.services-prices__item:hover {
    -webkit-appearance: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    border: 1px solid #FFF;
    z-index: 1;
}

.services-prices__btn {
    display: flex;
    align-items: center;
    color: #2D2D2D;
    font-size: 18px;
    font-weight: 700;
}

.services-prices__line {
    width: 4px;
    position: absolute;
    left: -1px;
    top: 45px;
    height: 13px;
    border-radius: 0 4px 4px 0;
    background-color: #0064af;
}

.services-prices__mr {
    margin-right: auto;
    max-width: 531px;
}

.services-prices__mr30 {
    margin-right: 30px;
}

.services-prices__close {
    border: none;
    background: transparent;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

.services-prices__close_active {
    opacity: 1;
    pointer-events: all;
}

.services-prices__content {
    cursor: default;
    font-weight: 600;
    line-height: 150%;
}

.services-prices__content li {
    font-weight: 400;
    position: relative;
}

.services-prices__content li::marker {
    content: "";
}

.services-prices__content li::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    top: 50%;
    left: -17px;
    background-color: #333;
}

.services-prices__load-more {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 10px 20px;
    margin: 0 auto;
    margin-bottom: 39px;
    font-weight: 600;
    font-size: 24px;
    color: #0859A3;
    border-radius: 46px;
    border: 2px solid #0859A3;
    background: transparent;
    cursor: pointer;
}

.services-prices__load-more svg {
    width: 36px;
    height: 36px;
}

.services-prices__attention {
    display: flex;
    gap: 31px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 60%;
    font-size: 24px;
    color: #000;
    font-weight: 400;
}

.services-prices__attention svg {
    flex-shrink: 0;
    width: 59px;
    height: 59px;
}

@media (max-width: 1280px) {
    #services-prices {
        padding-top: 93px;
        padding-bottom: 99px;
    }

    .services-prices__attention {
        max-width: 75%;
    }
}

@media (max-width: 1200px) {
    .services-prices__item {
        padding: 20px;
    }

    .services-prices__mr {
        font-size: 16px;
    }

    .services-prices__line {
        top: 40px;
    }

    #services-prices {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .services-prices__attention {
        max-width: 100%;
        text-align: left;
    }
}

@media (max-width: 1024px) {
    .services-prices__btn {
        flex-wrap: wrap;
    }

    .services-prices__price {
        order: 1;
        width: 100%;
    }

    .services-prices__mr {
        max-width: 480px;
    }
}

@media (max-width: 992px) {
    .services-prices__order {
        order: 2;
    }

    .services-prices__price {
        width: 60%;
    }

    .services-prices__btn {
        row-gap: 10px;
    }

    .services-prices__content {
        padding-top: 20px;
    }
}

@media (max-width: 576px) {
    .services-prices__paragraph {
        font-size: 16px;
    }

    .services-prices__paragraph_blue {
        margin-bottom: 20px;
    }

    .services-prices__content {
        font-size: 15px;
    }

    .services-prices__mr {
        max-width: 350px;
    }

    .services-prices__list {
        margin-bottom: 28px;
    }

    .services-prices__load-more {
        margin-bottom: 17px;
        font-size: 20px;
    }

    .services-prices__attention {
        gap: 12px;
        font-size: 16px;
    }

    .services-prices__attention svg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .services-prices__mr {
        max-width: 254px;
    }
}

#services-services {
    padding-top: 120px;
    padding-bottom: 107px;
    background: #E7F0F6;
    font-family: "Montserrat";
    color: #333;
    font-style: normal;
    line-height: normal;
}

.services-services__title {
    text-align: center;
}

.services-services__flex {
    display: flex;
    gap: 32px;
}

.servicesSwiperMain {
    width: 989px;
    height: 524px;
}

.servicesSwiperMain-slide {
    padding: 52px 70px 58px;
    border-radius: 84px 0px 0px 0px;
    background: #fff;
}

.servicesSwiperMain__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}

.servicesSwiperMain__top_title {
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 700;
    color: #0859A3;
    text-decoration-line: underline;
}

.servicesSwiperMain__top_text {
    max-width: 318px;
}

.servicesSwiperMain__top_paragraph {
    font-size: 20px;
    font-weight: 500;
    line-height: 142%;
}

.servicesSwiperMain__top_img {
    width: 409px;
    height: 230px;
}

.servicesSwiperMain .services-video__control {
    width: 80px;
    height: 45px;
    top: 44px;
    right: -14px;
    left: inherit;
}

.servicesSwiperMain .services-video__control svg {
    width: 80px;
    height: 45px;
}

.servicesSwiperMain .servicesSwiperMain__top_img img {
    width: 100%;
}

.servicesSwiperMain__middle {
    margin-bottom: 38px;
    display: flex;
    gap: 68px;
    font-size: 16px;
    font-weight: 500;
    line-height: 142%;
}

.servicesSwiperMain__change_blue {
    color: #0859A3;
    text-decoration-line: underline;
}

.servicesSwiperMain__bottom {
    display: flex;
    gap: 30px;
    align-items: center;
}

.servicesSwiperMain__bottom_linethrow {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    text-decoration-line: line-through;
}

.servicesSwiperMain__bottom_boldBlue {
    font-size: 36px;
    font-weight: 600;
    color: #0859A3;
}

.servicesSwiper-slide {
    position: relative;
    padding: 33px 54px;
    color: #000;
}

.servicesSwiper-slide_title {
    font-size: 24px;
    font-weight: 600;
}

.servicesSwiper-slide_price {
    font-size: 16px;
    font-weight: 400;
}

.servicesSwiper-slide {
    width: 462px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
}

.servicesSwiperMain-next,
.servicesSwiperMain-prev {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background 0.2s ease-in-out;
}

.servicesSwiperMain,
.servicesSwiper {
    margin: 0;
}

.servicesSwiperMain-next svg path,
.servicesSwiperMain-prev svg path {
    transition: fill 0.2s ease-in-out;
}

.servicesSwiperMain-next:focus,
.servicesSwiperMain-prev:focus,
.servicesSwiperMain-next:hover,
.servicesSwiperMain-prev:hover {
    background: #0859A3;
}

.servicesSwiperMain-next:hover svg path,
.servicesSwiperMain-prev:hover svg path,
.servicesSwiperMain-next:focus svg path,
.servicesSwiperMain-prev:focus svg path {
    fill: #fff;
}

.servicesSwiper {
    width: 479px;
    height: 524px;
}

.servicesSwiper-slide_absolute {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 120px;
    height: 163px;
}

.servicesSwiper-slide_absolute img {
    object-fit: cover;
    border-top-left-radius: 163px;
    border-bottom-left-radius: 163px;
}

.swiper-scrollbar-drag {
    background: rgba(8, 89, 163, 0.2);
}

.swiper-scrollbar {
    background: rgba(8, 89, 163, 0.1);
}

.servicesSwiperMain__bottom_prices {
    display: flex;
    gap: 30px;
    align-items: center;
}

@media (max-width: 1440px) {
    #services-services {
        padding-top: 89px;
    }

    .services-services__flex {
        gap: 20px;
        justify-content: center;
    }

    .servicesSwiperMain {
        width: 696px;
        height: 690px;
    }

    .servicesSwiperMain__top {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 17px;
        margin-bottom: 22px;
    }

    .servicesSwiperMain__top_img {
        align-self: center;
        width: 492px;
        height: 277px;
        max-width: 100%;
        flex-basis: auto;
    }

    .servicesSwiperMain__top_text {
        max-width: 100%;
    }

    .servicesSwiperMain__middle {
        gap: 0;
        justify-content: space-between;
    }

    .servicesSwiperMain__bottom_prices {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }
}

@media (max-width: 1200px) {
    .services-services__flex {
        flex-direction: column-reverse;
        align-items: center;
    }

    .servicesSwiper {
        width: 100%;
        height: 116px;
    }

    .servicesSwiper-slide {
        width: 462px;
        height: 107px;
    }

    .servicesSwiperMain {
        width: 728px;
    }

    #services-services {
        padding-bottom: 79px;
    }

    .servicesSwiperMain__top_img {
        width: 518px;
        height: 292px;
    }
}

@media (max-width: 768px) {
    .servicesSwiperMain {
        width: 100%;
        min-height: 690px;
        height: auto;
    }

    .servicesSwiperMain__top {
        gap: 12px;
        margin-bottom: 17px;
    }

    .servicesSwiperMain__middle {
        flex-wrap: wrap;
    }

    .servicesSwiperMain__change_item {
        padding-left: 10px;
    }

    .servicesSwiperMain__bottom_boldBlue {
        font-size: 32px;
    }
}

@media (max-width: 576px) {
    #services-services {
        padding-top: 40px;
        padding-bottom: 46px;
        background: #fff;
    }

    .servicesSwiper {
        display: none;
    }

    .servicesSwiperMain-slide {
        padding: 100px 17px 25px;
        width: 282px;
        border-radius: 16px;
        background: #E7F0F6;
    }

    .servicesSwiperMain-next,
    .servicesSwiperMain-prev {
        display: none;
    }

    .servicesSwiperMain {
        min-height: 0;
    }

    .servicesSwiperMain__top_title {
        position: absolute;
        top: 25px;
        left: 17px;
        font-size: 26px;
    }

    .servicesSwiperMain__top {
        gap: 40px;
    }

    .servicesSwiperMain__top_img {
        width: 246px;
        height: 138px;
    }

    .servicesSwiperMain .services-video__control {
        width: 45px;
        height: 25px;
        top: 24px;
        right: -10px;
    }

    .servicesSwiperMain .services-video__control svg {
        width: 45px;
        height: 25px;
    }

    .servicesSwiperMain__top_paragraph {
        font-size: 14px;
    }

    .servicesSwiperMain__middle {
        flex-direction: column;
        font-size: 14px;
        gap: 10px;
        margin-bottom: 14px;
    }

    .servicesSwiperMain__change_item {
        padding-left: 0;
    }

    .servicesSwiperMain__bottom {
        flex-direction: column-reverse;
        gap: 9px;
        align-items: flex-start;
    }

    .servicesSwiperMain__bottom_linethrow {
        font-size: 20px;
    }

    .servicesSwiperMain__bottom_boldBlue {
        font-size: 30px;
    }
}

#services-chooseTime {
    padding: 98px 0;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: normal;
    background: linear-gradient(92deg, #0859A3 10.39%, #0B707E 100%);
    color: #fff;
}

.services-chooseTime__title {
    color: #fff;
}

.services-chooseTime__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-chooseTime__link_flex {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.services-chooseTime__link {
    display: flex;
    gap: 17px;
    align-items: center;
}

.services-chooseTime_bold {
    font-size: 36px;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 55px;
}

.services-chooseTime__link_flex:focus,
.services-chooseTime__link_flex:hover,
.services-chooseTime__link_flex:active {
    color: #73bbfd;
}

.services-chooseTime__link_flex .services-chooseTime__link svg path {
    transition: fill 0.2s ease-in-out;
}

.services-chooseTime__link_flex:focus .services-chooseTime__link svg path,
.services-chooseTime__link_flex:hover .services-chooseTime__link svg path,
.services-chooseTime__link_flex:active .services-chooseTime__link svg path {
    fill: #73bbfd;
}

@media (max-width: 1440px) {
    .services-chooseTime__flex {
        flex-wrap: wrap;
        column-gap: 103px;
        row-gap: 37px;
        justify-content: normal;
    }

    #services-chooseTime {
        padding-top: 66px;
        padding-bottom: 79px;
    }
}

@media (max-width: 1024px) {
    .services-chooseTime__flex {
        flex-direction: column;
        align-items: center;
        row-gap: 27px;
    }

    .services-chooseTime__title {
        text-align: center;
    }

    .services-chooseTime__link_flex {
        align-items: center;
    }

    .services-chooseTime_bold {
        padding-left: 0;
    }
}

@media (max-width: 576px) {
    #services-chooseTime {
        padding-top: 40px;
        padding-bottom: 52px;
    }

    .services-chooseTime__flex {
        row-gap: 17px;
    }

    .services-chooseTime__link_flex {
        font-size: 20px;
    }

    .services-chooseTime__link {
        gap: 10px;
    }

    .services-chooseTime_bold {
        font-size: 22px;
    }

    .services-chooseTime__link_flex .services-chooseTime__link svg {
        width: 23px;
        height: 23px;
    }
}

#services-lisences {
    padding-top: 71px;
    margin-bottom: 80px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: normal;
    color: #333;
}

.services-lisences__title {
    max-width: 990px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.services-lisences__logo {
    width: 166.375px;
    height: 105.747px;
    margin: 0 auto;
    margin-bottom: 23px;
}

.services-lisences__logo img {
    object-fit: contain;
}

.services-lisences__second-title {
    position: relative;
    margin-bottom: 78px;
    text-align: left;
}

.services-lisences__second-title::before {
    position: absolute;
    content: "";
    width: 96px;
    height: 4px;
    left: 0;
    bottom: -29px;
    background: #2E7FFA;
}

.services-lisences__next,
.services-lisences__prev {
    width: 51px;
    height: 50px;
    border-radius: 50%;
    transition: background 0.2s ease-in-out;
}

.services-lisences__prev.swiper-button-prev {
    left: inherit;
}

.services-lisences__next svg path,
.services-lisences__prev svg path {
    transition: fill 0.2s ease-in-out;
}

.services-lisences__next:focus,
.services-lisences__prev:focus,
.services-lisences__next:hover,
.services-lisences__prev:hover {
    background: #0859A3;
}

.services-lisences__next:hover svg path,
.services-lisences__prev:hover svg path,
.services-lisences__next:focus svg path,
.services-lisences__prev:focus svg path {
    fill: #fff;
}

.services-lisences__btns {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    top: -120px;
}

.services-lisences__slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.services-lisences__slide img {
    width: 100%;
    object-fit: contain;
}

.services-lisences__text {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    text-align: center;
}

.services-lisences__wrapper {
    position: relative;
}

@media (max-width: 1024px) {
    #services-lisences {
        padding-top: 65px;
        margin-bottom: 45px;
    }
}

@media (max-width: 992px) {
    .services-lisences__btns {
        position: static;
        padding-top: 15px;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    #services-lisences {
        padding-top: 47px;
    }

    .services-lisences__logo {
        margin-bottom: 18px;
    }

    .services-lisences__title {
        margin-bottom: 28px;
        font-size: 21px;
    }

    .services-lisences__second-title {
        margin-bottom: 34px;
        text-align: center;
    }

    .services-lisences__second-title::before {
        width: 0;
        height: 0;
    }

    .services-lisences__slide {
        width: 228px;
        height: 324px;
    }
}

#services-accuracy {
    padding-top: 70px;
    padding-bottom: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: normal;
    color: #333;
    text-align: center;
}

.services-accuracy__top {
    margin-bottom: 18px;
    font-size: 36px;
    font-weight: 400;
}

.services-accuracy__blue {
    color: #0859A3;
    text-decoration-line: underline;
}

.services-accuracy__paragraph {
    margin: 0 auto 45px;
    max-width: 990px;
    font-size: 16px;
    font-weight: 500;
    line-height: 142%;
}

.services-accuracy__video {
    display: flex;
    gap: 32px;
}

.services-accuracy__inner_img {
    width: calc((100% - 2 * 32px) / 3);
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    height: 269px;
}

.services-accuracy__inner_img img {
    width: 100%;
    object-fit: cover;
}

.services-accuracy__inner_img::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 42, 81, 0.50) 0%, rgba(0, 42, 81, 0.50) 100%);
}

.services-accuracy__inner_img .services-video__control {
    width: 80px;
    height: 45px;
    top: 44px;
    right: -14px;
    left: inherit;
}

.services-accuracy__inner_img:focus .services-video__control,
.services-accuracy__inner_img:hover .services-video__control {
    scale: 1.2;
}

.services-accuracy__inner_img:focus {
    outline: none;
}

.services-accuracy__inner_text {
    position: absolute;
    left: 34px;
    bottom: 38px;
    font-size: 18px;
    font-weight: 700;
    line-height: 110%;
    color: #fff;
}

@media (max-width: 1280px) {
    #services-accuracy {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .services-accuracy__video {
        gap: 20px;
    }

    .services-accuracy__inner_img {
        width: calc((100% - 2 * 20px) / 3);
        height: 218px;
    }
}

@media (max-width: 1024px) {
    .services-accuracy__top {
        margin-bottom: 15px;
    }

    .services-accuracy__title {
        margin-bottom: 15px;
    }

    .services-accuracy__paragraph {
        margin: 0 auto 25px;
    }

    .services-accuracy__video {
        overflow-y: auto;
        margin-right: -32px;
    }

    .services-accuracy__inner_img {
        min-width: 389px;
        height: 218px;
    }
}

@media (max-width: 768px) {
    .services-accuracy__video {
        margin-right: -24px;
    }
}

@media (max-width: 576px) {
    .services-accuracy__top {
        margin-bottom: 19px;
        font-size: 16px;
    }

    .services-accuracy__title {
        margin-bottom: 19px;
    }

    .services-accuracy__paragraph {
        font-size: 14px;
    }

    .services-accuracy__video {
        gap: 15px;
    }

    .services-accuracy__inner_img {
        min-width: 286px;
        height: 160px;
    }

    .services-accuracy__inner_text {
        left: 16px;
        bottom: 22px;
        font-size: 14px;
    }

    .services-accuracy__inner_img .services-video__control {
        width: 56px;
        height: 31px;
        top: 28px;
    }

    .services-accuracy__inner_img .services-video__control svg {
        width: 56px;
        height: 31px;
    }
}

#services-description2 {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: normal;
    color: #333;
}

.services-description2__flex {
    display: flex;
    gap: 36px;
}

.services-description2__text {
    flex-basis: 862px;
}

.services-description2__info {
    font-weight: 400;
    line-height: 142%;
    font-size: 18px;
}

.services-description2__sales {
    flex-basis: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.services-description2__sales_link {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.services-description2__sales img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width:1280px) {
    #services-description2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .services-description2__flex {
        gap: 20px;
    }

    .services-description2__text {
        flex-basis: 594px;
    }

    .services-description2__sales {
        flex-basis: 594px;
    }
}

@media (max-width:1024px) {
    .services-description2__flex {
        flex-direction: column;
        gap: 33px;
    }

    .services-description2__sales {
        align-self: center;
        max-height: 691px;
        flex-basis: 594px;
        max-width: 594px;
    }

    .services-description2__sales img {
        height: 100%;
    }
}

@media (max-width:576px) {
    #services-description2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .services-description2__info {
        font-size: 16px;
    }

    .services-description2__flex {
        gap: 15px;
    }

    .services-description2__sales {
        max-height: 390px;
        flex-basis: 335px;
        max-width: 335px;
    }
}

#chief-medic {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: normal;
}

.chief-medic__flex {
    display: flex;
    align-items: center;
    gap: 128px;
}

.chief-medic__img {
    flex-shrink: 0;
    flex-basis: 639px;
    border-radius: 20px;
    overflow: hidden;
}

.chief-medic__img img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.chief-medic__text {
    flex-basis: 734px;
    color: #000;
}

.chief-medic__title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 29px;
    font-weight: 700;
    color: #0859A3;
}

.chief-medic__name {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.chief-medic__text p {
    font-size: 24px;
    font-weight: 400;
    line-height: 142%;
}

.chief-medic__block {
    display: inline-block;
}

@media (max-width:1280px) {
    #chief-medic {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .chief-medic__flex {
        gap: 20px;
    }

    .chief-medic__img {
        flex-basis: 594px;
    }

    .chief-medic__name {
        font-size: 36px;
        margin-bottom: 15px;
    }
}

@media (max-width:1200px) {
    .chief-medic__img {
        flex-basis: 354px;
    }
}

@media (max-width:1024px) {
    .chief-medic__title {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .chief-medic__name {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .chief-medic__text p {
        font-size: 16px;
    }
}

@media (max-width:767.98px) {
    .chief-medic__flex {
        flex-direction: column;
    }

    .chief-medic__img {
        flex-basis: 321px;
        max-width: 354px;
    }

    .chief-medic__text {
        flex-basis: fit-content;
    }
}

#additional-services {
    padding-top: 60px;
    padding-bottom: 53px;
}

.additional-services__swiper {
    height: 373px;
}

.additional-services__slide {
    width: 558px;
    height: 373px;
    border-radius: 10px;
    overflow: hidden;
}

.additional-services__next,
.additional-services__prev {
    position: absolute;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    top: 45%;
    transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.additional-services__prev {
    transform: translateX(-71%);
}

.additional-services__next {
    transform: translateX(71%);
}

.additional-services__next:focus,
.additional-services__prev:focus,
.additional-services__next:hover,
.additional-services__prev:hover {
    background: #0064af;
    border-color: #0064af;
}

.additional-services__next svg path,
.additional-services__prev svg path {
    transition: fill 0.2s ease-in-out;
}

.additional-services__next:focus svg path,
.additional-services__prev:focus svg path,
.additional-services__next:hover svg path,
.additional-services__prev:hover svg path {
    fill: #fff;
}

.additional-services__slide img {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.additional-services__wrapper {
    position: relative;
}

@media (max-width:1280px) {
    #additional-services {
        padding-bottom: 30px;
    }

    .additional-services__swiper {
        margin-right: -32px;
    }
}

@media (max-width:768px) {
    .additional-services__swiper {
        margin-right: -24px;
    }

    #additional-services {
        padding-top: 30px;
    }
}

@media (max-width:576px) {
    #additional-services {
        padding-top: 15px;
    }

    .additional-services__swiper {
        height: 224px;
    }

    .additional-services__slide {
        width: 335px;
        height: 224px;
    }

    .additional-services__next, .additional-services__prev {
        top: 39%;
    }
}

#lets-friends {
    padding-top: 77px;
    padding-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: normal;
    color: #333;
}

.lets-friends__top {
    display: flex;
    gap: 244px;
    margin-bottom: 34px;
}

.lets-friends__title {
    margin-bottom: 25px;
    max-width: 584px;
}

.lets-friends__paragraph {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.lets-friends__blue {
    color: #0859A3;
}

.lets-friends__left {
    flex-basis: 394px;
}

.lets-friends__right {
    flex-basis: 862px;
}

.lets-friends__socials {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.lets-friends__socials_item {
    width: 84px;
    height: 84px;
}

.lets-friends__socials_item a {
    transition: opacity 0.2s ease-in-out;
}

.lets-friends__socials_item a:focus,
.lets-friends__socials_item a:hover {
    opacity: 0.5;
}

.lets-friends__bottom {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 25px;
}

.lets-friends__item {
    width: calc((100% - 5 * 32px) / 6);
    max-height: 223px;
    border-radius: 12px;
    overflow: hidden;
}

.lets-friends__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:1280px) {
    #lets-friends {
        padding-top: 50px;
    }

    .lets-friends__top {
        gap: 118px;
        margin-bottom: 56px;
    }

    .lets-friends__bottom {
        column-gap: 25px;
        row-gap: 20px;
    }

    .lets-friends__item {
        width: calc((100% - 5 * 25px) / 6);
        max-height: 180px;
    }
}

@media (max-width:1024px) {
    .lets-friends__bottom {
        column-gap: 30px;
        row-gap: 25px;
    }

    .lets-friends__item {
        width: calc((100% - 2 * 30px) / 3);
        max-height: 221px;
    }

    #lets-friends {
        padding-top: 20px;
    }

    .lets-friends__top {
        gap: 25px;
        margin-bottom: 40px;
        flex-direction: column;
    }

    .lets-friends__left {
        flex-basis: fit-content;
    }

    .lets-friends__right {
        flex-basis: fit-content;
    }
}

@media (max-width:576px) {
    .lets-friends__title {
        font-size: 32px;
    }

    .lets-friends__bottom {
        column-gap: 21px;
        row-gap: 17px;
    }

    .lets-friends__item {
        width: calc((100% - 21px) / 2);
        max-height: 155px;
    }
}